.login{
    margin: auto;
    width: 70%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    width: 50%; 
    height: 50%;  
    color: greenyellow;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(95, 3, 255, 0.3);
    justify-content: space-evenly;
    border-radius: 5px;
}

.warning{
    color: brown;
}